/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* ngx datatable */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.card-basic {
  border-radius: 8px !important;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07) !important;
  background-color: #ffffff !important;
  border: none !important;
}

@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
  }
}
